body {
  
}
/* GENERALE */
.flex {
    display: flex;
    flex-wrap: wrap;
}
/*  CAROUSSEL */
.carousel {
    overflow: hidden;
    width: 100%; 
    position: relative;
}
.carousel-categorie {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.card {
    flex: 0 0 150px; /* L'élément prendra toute la place disponible s'il y en a, mais il peut rétrécir si nécessaire. */
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* centrer verticalement avec position absolut */
    background: none;
    border: none;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    z-index: 1;
}
.prev {
    left: 20px;
}
.next {
    right: 20px;
}

/* CARD CATEGORIE */
.cardCategorie {
    flex: 0 0 200px; /* L'élément prendra toute la place disponible s'il y en a, mais il peut rétrécir si nécessaire. */
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    text-align: center;
    line-height: 150px;
}

/* CARD PRODUIY */
.listeProduits {
    background-color: blanchedalmond;
}
.cardProduit{
    flex: 0 0 200px;
    border: 1px solid;

}
