

/* initialisation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Importe la police Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Handlee&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


/* Luciole-Regular */
@font-face {
  font-family: 'Luciole';
  src: url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Déclare la classe pour les polices*/
.source-sans-3-texte {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}

/*VARIABLES*/
:root {
    /*variable color*/
    --premiereColor: rgb(255, 200, 54);
    --deuxiemeColor: rgb(189, 0, 23);
    --troisiemeColor:rgb(44, 44, 44); 
    --quatriemeColor: rgb(214, 214, 214);
    --cinquiemeColor: rgb(241, 241, 241);
    --sixiemeColor: rgb(255, 255, 255);

    /*variable font*/
    --fonte: "Source Sans 3", sans-serif;
    --fontLuciol: 'Luciole', sans-serif;

    --robotoFont: "Roboto", sans-serif;
    --tekoFont: "Teko", sans-serif;

    /* border */
    --borderRadius: 10px;
    --borderShadow: 0 0 20px rgb(96, 96, 96);  /* box-shadow */
    --borderHover: 2px solid rgb(255, 200, 54);

    /* largeur goutiere*/
    --gutter: 10px;
}

/* ACCESSIBILITE TYPO */ 
/* nav chagement de typo */
#btn-typo {
  background-color: var(--cinquiemeColor);
  width: 200px;
  border: 1px solid var(--troisiemeColor);
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}

#btn-typo:hover {
  background-color: var(--quatriemeColor);
}

.newTypo {
  font-family: var(--fontLuciol);
  line-height:1.5 ;
}

/* LARGEUR COLONNE */

/*Desktop*/
.large-1 {
  
    width: calc(8.3333333333% - 11 * var(--gutter) / 12);
  }
  .large-2 {
    width: calc(16.6666666667% - 5 * var(--gutter) / 6);
  }
  .large-3 {
    width: calc(25% - 3 * var(--gutter) / 4);
  }
  .large-4 {
    width: calc(33.3333333333% - 2 * var(--gutter) / 3);
  }
  .large-5 {
    width: calc(41.6666666667% - 1.4 * var(--gutter) / 2.4);
  }
  .large-6 {
    width: calc(50% - 1 * var(--gutter) / 2);
  }
  .large-7 {
    width: calc(58.3333333333% - 0.7142857143 * var(--gutter) / 1.7142857143);
  }
  .large-8 {
    width: calc(66.6666666667% - 0.5 * var(--gutter) / 1.5);
  }
  .large-9 {
    width: calc(75% - 0.3333333333 * var(--gutter) / 1.3333333333);
  }
  .large-10 {
    width: calc(83.3333333333% - 0.2 * var(--gutter) / 1.2);
  }
  .large-11 {
    width: calc(91.6666666667% - 0.0909090909 * var(--gutter) / 1.0909090909);
  }
  .large-12 {
    width: calc(100% - 0 * var(--gutter) / 1);
  }

/* GENERALE */


body {
  font-family: var(--fonte);
  font-size: 15px;
}
strong {
  font-weight: normal;
}
h1, h1 strong {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin: 40px 0;
}
h2, h2 strong {
  width: 100%;
  font-weight: 800;
  font-size: 35px;
}
h3 {
  width: 100%;
  font-weight: 600;
  font-size: 30px;

}
h4 {
  width: 100%;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 10px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}

/* image de fond */
.mainImgFond-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainImgFond {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../images/images/mc_landing_banner.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
/* button */
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
.btnJaune, .btnTransparent, #btn-typo, .open-btn, .close-btn {
  border-radius: var(--borderRadius);
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}
.btnJaune {
  background-color: var(--premiereColor);
  transition: background-color 0.3s ease-in-out;
  width: 150px;
  text-align: center;
}
.btnJaune:hover {
  background-color: var(--deuxiemeColor);
}

.btnTransparent, .open-btn, .close-btn {
  width: 120px;
  border: 1px solid var(--troisiemeColor);
  transition: background-color 0.3s ease-in-out;
  text-align: center;
}
.btnTransparent:hover, .open-btn:hover, .close-btn:hover {
  background-color: var(--quatriemeColor);
}
.btnCorps {
  justify-content: center;
  width: 100%;
}
.open-btn {
  z-index: 9999;
}
.close-btn {
  z-index: 9999;
}
/* gestion format par defaut */
a {
  text-decoration: none;
  color: inherit;
  padding: 0;

}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* message erreurs */
.erreurMessage {
  text-align: center;
  margin-bottom: 10px;
}
.erreurMessage p{
  color: var(--deuxiemeColor);
}
/*  caroussel */

.carouselCat {
  position: fixed;
  left: 0;
  top: 75px;
  background-color: var(--sixiemeColor);
  padding-bottom: 20px;
  width: 80%;
}
.carouselCategorie, .carouselBoisson {
  overflow: hidden;
  width: 100%; 
  position: relative;
  padding-left: 70px;
  padding-right: 85px;
}
.carouselBoisson{
  margin-bottom: 40px;
}
.carousel-categorie, .carousel-boisson {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.cardCategorie, .cardBoisson {
  flex: 200px; 
  min-height: 180px;
  max-height: 180px;
  margin: 5px;
  border: 2px solid var(--quatriemeColor);
  border-radius: var(--borderRadius);
}
.cardCategorie:hover, .cardBoisson:hover {
  border: 2px solid var(--premiereColor);
}
.cardCarouselCorps {
  padding: 15px 10px 15px 10px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cardCarouselCorps p {
  text-align: center;
  width: 100%;
}
.cardImgCarousel {
  justify-content: center;
}
.cardImgCarousel img{
  width: 100px;
  height: auto;
}
.prevCategorie, .nextCategorie, .prevBoisson, .nextBoisson{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}
.prevCategorie, .prevBoisson {
    left: 20px;
}
.nextCategorie, .nextBoisson  {
    right: 20px;
}
.prevCorps .nextCorps {
  background-color: var(--sixiemeColor);
}
/* card principal */
.cardPrincipale {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sixiemeColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--borderShadow);
  padding: 20px;
}

/* card segondaire */
.cardSegondaireParent {
  justify-content: space-between;
  padding: 20px 0;
}
.cardSegondaireCoprs {
  width: 45%;
  justify-content: center;
  background-color: var(--sixiemeColor);
  border-radius: var(--borderRadius);
  border: 2px solid var(--quatriemeColor);
  padding: 20px;

}
.cardSegondaireCoprs:hover {
  border: var(--borderHover);
}
.cardSegondaireImg {
  width: 100%;
  height: auto;
}
.cardSegondaireImg img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cardSegondaireText {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  font-weight: 600;
}

/* card produit */
.cardProduit{
  flex: 1; /* occuper tout l'espace disponible */
  min-width: 300px;
  max-width: 300px;
  min-height: 310px;
  max-height: 310px;
  border: 2px solid var(--quatriemeColor);
  border-radius: var(--borderRadius);
  padding: 10px;
}
.cardProduit:hover {
  border: 2px solid var(--premiereColor);
}
.listeProduitsCards .cardProduit:last-child {
  flex: 0 0 auto; /* pour largeur de la derniere card produit */
  min-width: 300px;
  max-width: 300px;
}

/* formulaire chevalet*/
.form div {
  width: 100%;
  justify-content: center;
  gap: 20px
} 
.form input {
  text-align: center;
  font-size: 80px;
  border: none;
  outline: none;
  border-bottom: 10px solid var(--quatriemeColor);
  border-radius: var(--borderRadius);
  width: 80px;
}

/* OVERLAY */

/* modale */
.modal-hidden {
  display: none;
}
.activeBordureJaune {
  border: 2px solid var(--premiereColor);
}

/* generale*/
.overlay {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sixiemeColor);
  align-items: center;
  z-index: 9999;
  background-color: rgba(241, 241, 241, 0.517);
}
.overlayFond{
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--sixiemeColor);
  border-radius: var(--borderRadius);
  box-shadow: var(--borderShadow);
  padding: 20px;
}
.overlayCoprs {
  justify-content: center;
  width: 100%;
  padding: 0 20%;
}
.overlayNav {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#croixImageMenu img:hover, #croixImageFrite img:hover, #croixImageBoisson img:hover  {
  background-color: var(--quatriemeColor);
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}
.overlayTitre {
  width: 100%;
  margin:0 0 30px 0;
}
.overlayCardParent {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 20px;;
}

/* overlay taille menu */
.modaleTailleMenu #croixImageMenu {
  text-align: end;
  width: 100%;
}

/* overlay boisson */
.modaleboissons .btnJaune {
  width: 350px;
}
.modaleBoissons #btnModalAjouter {
width: 300px;
}

/* overlay quantite taille */
.quantite {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
#btnQuantiteMoins,  #btnQuantitePlus{
  width: 50px;
}
#quantiteProduit {
  width: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
#btnmodaleQuantiteTaille {
  width: 300px;
}

/* overlay quantite */
.modaleQuantite .overlayCardParent {
  justify-content: center;
}
.modaleQuantite .cardSegondaireCoprs {
  border: 2px solid var(--quatriemeColor);
}

.modaleQuantite .cardSegondaireImg {
  width: 100%;
  height: 100%;
}
.modaleQuantite .cardSegondaireImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* PAGE CHOIX */
.choix {
  position: relative;
}
header {
  position: fixed;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  gap:10px;
  z-index: 50;
  width: 100%;
  padding: 20px;
}

.headerChoix {
  background-color: var(--sixiemeColor);
}


/* section principale */
.sectionPrincipale {
  width: 100%;
  height: 100%;
  padding-right: 20%;
}

/* section produit */
.produits {
  padding: 300px 5% 10% 5%;
}
.listeProduits {
  width: 100%;
  margin: 0px 0 50px 0;
}
.listeProduitsCards{
  width: 100%;
  gap: 10px;
}
.cardProduitCoprs {
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.cardProduitImg {
  width: 60%;
  height: 60%;
}
.cardProduitImg img{
  width: 100%;
  height: auto;
  object-fit: ccontain
}
.nomProduit, .priceMenu {
  text-align: center;
  font-weight: 600;
}
.price{
  margin-top: 20px;
}
.euro {
  padding-left: 5px;
  font-weight: 600;
}
/*  SECTION COMMANDE */

.sectionCommande {
  position: relative;
  align-content:start;
  height: 100vh;
  background-color: var(--quatriemeColor);
  padding:20px;
  width: 100%;
}

/* entete commande */
.enteteCommande {
  width: 100%;
  height: 100px;
}
.logo {
  width: 100%;
  height: 100%;
  padding: 20px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.commandeNumPlace {
  width: 100%;
  border-bottom: 2px solid var(--troisiemeColor);
  padding: 0 0 10px 0;
}
.surplace p, .numeroCommande p {
  font-weight: 600;
  text-align: center;
}

/* commande menus-produits */
.cmdMenuProduit {
  width: 100%;
  min-height:10vh;
  max-height:50vh;
  padding-top: 10px;
  overflow-y: scroll;
}

/* liste menu et produit */
.menuCmdDetail {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.menuCmd {
  width: 85%;
}
.titleCmd {
  width: 100%;
  font-weight: 600;
  font-size: 12px;
}
.menuCmd ul {
  list-style-type: disc;
  padding-left: 20px;
}
.menuCmd li {
  font-size: 12px; 
}
.pblCmd {
  width: 22px;
  height: auto;
}
.pblCmd img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* montant commande */
#commandeMontant {
  right: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid var(--troisiemeColor);
  padding: 10px;
}
.btnCommande {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0 ;
}
#commandeMontant .btnTransparent, #commandeMontant .btnJaune{
  min-width: 50px;
  width: 45%;
  font-size: 11px;
  height: 30px;

}
#commandeMontant .montantTotalText {
  justify-content: space-between
}
#commandeMontant .montantTotal {
  font-size: 30px;
  text-align: center;
}

/* MODALE (modale) LATERALE */

.modal-container {
  position: relative;
  height: 100%;
  z-index: 500;
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  transform-origin: right;
  transform: translateX(100%);
  transition: transform 0s ease-in-out;
}
.modal.active {
  transform: translateX(0);
}
.modal-container.active {
  width: 20%;
}
.sectionPrincipale {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
.sectionPrincipale.active {
  width: 80%;
}

/* PAGE CHEVALET */

.chevaletCorps {
 justify-content: center;
}
.chevaletImg {
  width: 100px;
  margin-bottom: 40px;
}
.chevaletImg img {
  border-radius: var(--borderRadius);
  width: 100%;
  height: auto;
}
#formChevalet .btnJaune {
  width: 220px;
  margin: 30px auto 0 auto;
}
.chevaletCorps form {
  width: 100%;
}

/* PAGE A BIENTOT */
.abientotCorps {
  justify-content: center;
}
.abientotCorps p {
  width: 100%;
  font-family: "Freehand", cursive;
  font-weight: 800;
  font-style: italic;
  font-size: 40px;
}
.abientotCorps .btnJaune {
  width: 200px;
}

/* PAGE A COMMANDE */
#formNumCommande .btnJaune {
  width: 330px;
  margin: 30px auto 0 auto;
}

/* RESPONSIVE */

/* regles specifiques de 0 à 400px */
@media all and (max-width: 400px) {

  /* generale */
  h1 {
    margin: 10px 0;
    font-size: 15px;
  }
  h1 strong {
    font-size: 15px;
  }
  h2, h2 strong {
    font-size: 20px;
  }
 
  /* BTN */ 
 

  /* card principale */
  .cardPrincipale {
    width: 90%;
  }

  /* PAGE CHEVALET */
  .formChevalet input {
    font-size: 20px;
  }

   /* PAGE CHOIX */
   .cardProduitCoprs {
    justify-content: space-between;
  }
  .listeProduitsCards {
    justify-content: center;
  }

  /* MODALE LATERALE */
  .modal-container.active {
    width: 100%;
  }
  .sectionPrincipale.active {
    width: 0%;
  }
  .modal, header, .produits, .carouselCat  {
    width: 100%;
  }
  .modal-container {
    transition: transform 0s ease-in-out;
  }
  .modal {
    transition: transform 0.3s ease-in-out;
  }
}

/* regles specifiques de 0 à 714px */
@media all and (max-width: 714px) {
  /* choix section principale */
  .sectionPrincipale {
    padding-right: 0;
  }

  /* overlay */
  .overlay .overlayNav {
    padding: 0;
  }
  .overlayFond{
    width: 100%;
    overflow-y: scroll;
  }
  .overlayFond .overlayCoprs{
    padding: 20px;

  }
  .cardSegondaireCoprs {
    width: 100%;
    margin: 0;
  }
  .cardSegondaireCoprs {
    margin: 0 0 10px 0;
  }
  .overlayFond, .cardSegondaireCoprs {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .overlayFond .cardSegondaireImg {
    width: 50%;
    height: 50%;
  }
  .overlayFond .cardSegondaireImg img {
    width: 100%;
    height: 100%;
  }
  .overlayFond .cardSegondaireText {
    margin: 0;
    height: 20px;
  }
  .overlayFond  .overlayTitre {
      margin: 0 0 20px 0;
  }
  .overlayFond  .overlayTitre h4 {
    margin-top: 10px;
    font-size: 20px;
  }
  .overlayFond  .overlayTitre p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  /* card produit */
  .choix .cardProduit {
    width: 100%;
  }
  /* BTN */ 
  #btn-typo {
    width: 120px;
    font-size: 12px;
    padding: 10px;
  }
  .open-btn {
    width: 120px;
    font-size: 12px;
  }
  
}
/* regles specifiques de 401 à 714px */
@media all and (min-width: 401px) and (max-width: 714px) {
  
  /* card principale */
  .cardPrincipale {
    width: 90%;
  }

  /* PAGE CHOIX */
  .cardProduitCoprs {
    justify-content: space-between;
  }
  .listeProduitsCards {
    justify-content: center;
  }

  /* MODALE LATERALE */
  .modal-container.active {
    width: 100%;
  }
  .sectionPrincipale.active {
    width: 0%;
  }
  .modal, header, .produits, .carouselCat  {
    width: 100%;
  }
  .modal-container {
    transition: transform 0s ease-in-out;
  }
  .modal {
    transition: transform 0.3s ease-in-out;
  }
}

/* Règles spécifiques de 715px à 1080px */
@media all and (min-width: 715px) and (max-width:1080px ) {
    /* choix section principale */
  .sectionPrincipale {
    padding-right: 30%;
  }
  
  /* modale laterale */
    .modal{
      width: 30%;
    }
    .carouselCat {
      width: 70%;
    }

    .listeProduitsCards {
      justify-content: center;
    }
}

/* Règles spécifiques de 1080px à plus*/
@media all and (min-width: 1081px) {
    
}

/* Règles communes de 715px à plus */
@media (min-width: 715px) {
  
  /* MODALE LATERALE */
  .modal {
    transform: translateX(0);
  }
  .open-btn, .close-btn {
    display: none;
  }

}